<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <gazebo reference="agv_Link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="support_Link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="reference_Link">
        <material>Gazebo/Yellow</material>
    </gazebo>

    <!--ros control plugin>
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotParam>/robot_description</robotParam>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo-->

    <gazebo>
     <plugin name="base_controller" filename="libgazebo_ros_planar_move.so">
         <commandTopic>cmd_vel</commandTopic>
         <odometryTopic>odom</odometryTopic>
         <odometryFrame>odom</odometryFrame>
         <odometryRate>20.0</odometryRate>
         <robotBaseFrame>agv_Link</robotBaseFrame>
     </plugin>                                                                                                        
    </gazebo>  

</robot>

