<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
    <transmission name="trans01">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="platform_x_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor01">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans02">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="platform_y_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor02">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans03">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="platform_z_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor03">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans04">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="platform_a_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor04">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans05">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="platform_b_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor05">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="trans06">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="platform_c_Joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor06">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <!--transmission
    name="refer01">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="reference_Joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="mesure01">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission-->

    <!--transmission
    name="trans04_3">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="clap_roll_joint">
            <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor04_3">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission-->

</robot>