<?xml version="1.0"?>
<launch>
  <!--rosparam file="$(find plane_part_stewart_driver)/config/calibration.yaml" /-->

  <include file="$(find plane_part_stewart_driver)/launch/stewart_brnigup.launch">
  </include>

  <include file="$(find plane_part)/launch/spawn_all_models.launch">
  </include>

  <node name="digital_twining" pkg = "plane_part_assemble_task" type = "plane_part_with_agv.py" />

</launch>